<!DOCTYPE html>
<html>
<head>
    <title>TIME Person Of The Year</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        <div>
            <h1> T I M E </h1>
            <h2> Person Of The Year </h2>

            <form method="post">
                <p>Enter starting and ending years to see winners for those years:</p>
                <input name="startYear" placeholder="Starting Year">
                <input name="endYear" placeholder="Ending Year">
                <button type="submit">SEARCH!</button>
            </form>
        </div>
    </main>
</body>
</html>