<!DOCTYPE html>
<html>
<head>
    <title>TIME Person Of The Year</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        <h1> T I M E </h1>
        <form method="post">
            <input name="startYear" placeholder="Starting Year">
            <input name="endYear" placeholder="Ending Year">
            <button type="submit">SEARCH!</button>
        </form>
    </main>
    <footer></footer>
</body>
</html>